<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Actualizar Informacion</h6>
                <form class="form p-t-20"
                        [formGroup]="medicoForm"
                        (submit)="guardarMedico()">
                    <div class="form-group">
                        <label for="exampleInputuname2">Foto</label>
                        <div class="input-group" *ngIf="medicoSeleccionado">
                            <img class="w140" [src]="medicoSeleccionado.img | imagen:'medicos'" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname2">Nombre</label>
                        <div class="input-group">
                            <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname2" placeholder="Nombre del Medico">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Hospiltal</label>
                        <div class="input-group">
                            <select class="form-control"
                                    formControlName="hospital">
                                <option value="">Seleccionar Hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="text-left">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"  [disabled]="medicoForm.invalid">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{hospitalSeleccioando.nombre}}</h6>

                <img [src]="hospitalSeleccioando.img | imagen" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>

</div>

